<!DOCTYPE html>
<html>

	<head>
		<title>Banner</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>




<div class="jumbotron">
  <h1 class="display-3"><b> Welcome on eventbrite </b></h1>
  <p class="lead">This plateform will allow you organize or participate to the best parties in the country</p>
  <hr class="my-4">
  <p>You just have to register, for free!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<br/> <br/> <br/>

    <div class="jumbotron-small">
    	<div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Titre de ma page</h1>
            <p class="lead">Bla bla bli blo blu</p>
          </div>
      
        </div>
      </div>
    </div>
  </div>
  </html>
