<br><h1> Cartes d'évenements </h1> <br/> <br/>

<div class="card-columns">

  <div class="card image-bottom">
    <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small> <button type="button" class="right btn btn-outline-secondary">Go to the event</button></p>
    <img class="card-img" src="http://infoblancosobrenegro.com/media/W1siZiIsIm5vdGljaWFzLzEwOTYxL2ZvdG8tNzkzMy5qcGVnIl0sWyJwIiwidGh1bWIiLCI4MDB4Il1d/fiestas.jpg?sha=088b4ff4854316d1" alt="Card image">
  </div>

  
  <div class="card image-top">
    <img class="card-img-top" src="https://cdnvos.lavoz.com.ar/sites/default/files/styles/width_1072/public/fiestas_1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small> <button type="button" class="right btn btn-outline-secondary">Go to the event</button></p>
    </div>
  </div>
 

  <div class="card image-top">
    <img class="card-img-top" src="https://salacascoantiguo.com/wp-content/uploads/Casco-Antiguo-Fiestas-y-Eventos-2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
     <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small> <button type="button" class="right btn btn-outline-secondary">Go to the event</button></p>
    </div>
  </div>
  
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>FIND THE BEST EVENTS IN TOWN !</p>
    </blockquote>
  </div>
  
 
  <div class="card image-bottom">
     <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small> <button type="button" class="right btn btn-outline-secondary">Go to the event</button></p>
    <img class="card-img" src="http://infoblancosobrenegro.com/media/W1siZiIsIm5vdGljaWFzLzEwOTYxL2ZvdG8tNzkzMy5qcGVnIl0sWyJwIiwidGh1bWIiLCI4MDB4Il1d/fiestas.jpg?sha=088b4ff4854316d1" alt="Card image">
  </div>


  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
      <button type="button" class="right btn btn-outline-secondary">Go to the event</button></p>
    </div>
  </div>

  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small> <button type="button" class="right btn btn-outline-secondary">Go to the event</button></p>
      </div>
    </div>
  </div>


<br/><h1> Cartes de participation </h1> <br/> 

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    Participants
  </a>
  <a href="#" class="list-group-item list-group-item-action">Le gars là-bas
  </a>
    <a href="#" class="list-group-item list-group-item-action">Cette meuf
  </a>
    <a href="#" class="list-group-item list-group-item-action">Lui aussi
  </a>
  <a href="#" class="list-group-item list-group-item-action disabled">Vous-même
  </a>
</div>



<br/><h1> Cartes de villes </h1> <br/> 

<div class="card-deck">
  <div class="card">
    <img src="https://parissecret.com/wp-content/uploads/2017/11/featmontnarte.png" class="card-img-top" alt="Paris">
    <div class="card-body">
      <h5 class="card-title">Paris</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="https://hips.hearstapps.com/hbu.h-cdn.co/assets/17/15/beach-town-color-valparaiso-chile.jpg?crop=1.00xw:0.376xh;0,0.0256xh&resize=1200:*" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Valparaiso</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <img src="https://www.downtownchico.com/webart/customtext/62c.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Chico</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>




