<!DOCTYPE html>
<html>

	<head>
		<title>Banner</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

<body>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">All you need to know</h5>
        <p>If you have any questions about eventbrite (almost) every answer is here</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Who are we?</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Team</a>
          </li>
          <li>
            <a href="#!">Project</a>
          </li>
          <li>
            <a href="#!">Ambition</a>
          </li>
          <li>
            <a href="#!">Our future</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Why we are the best</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Your life before</a>
          </li>
          <li>
            <a href="#!">Your life now</a>
          </li>
          <li>
            <a href="#!">Your life in the future</a>
          </li>

        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>


  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3"> © 2019 Copyright Eventbrite-Maowaw THP
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>