<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
 <div class="form card">
    <h5 class="card-header text-center py-4">
      <strong>You can reset your password here.</strong> 
    </h5>        <br>    <br>

    <div class="card-body px-lg-5 pt-0">
      <form id="register-form" role="form" autocomplete="off" method="post">
     
       <div class="form-group">
         <div class="input-group">
           <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
           <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
         </div>
       </div>

     <div class="form-group">
       <input name="recover-submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" value="Reset Password"type="submit">
     </div>
     
     <input type="hidden" class="hide" name="token" id="token" value=""> 

  </form>

    

